    /*---standard fonts

font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
font-family: Georgia, serif;
----*/
* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;

}

body {
    font-size: 16px;
 
}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cn-container {
    padding: 0px;

}

.cn-container90 {
    padding: 0px;
    width: 90%;
}

.cnredtype {
    color: #dc3545;
}

.cngreytype {
    color: #555555;
}

.italic500 {
    font-weight: 500;
    font-style: oblique;
}

.bold600 {
    font-weight: 600;

}

.bold700 {
    font-weight: 700;

}

.lgbkgd{
background-color: lightgray;
}

.georgia {
    font-family: Georgia, serif;

}

.italic700 {
    font-weight: 600;
    font-style: oblique;
}


a:hover {
    color: #555;
    text-decoration: none !important;
}


::placeholder {
    font-style: italic;
    color: #dc3545 !important;
}


::-webkit-input-placeholder {
    font-style: italic;
    color: #dc3545 !important;
}

:-moz-placeholder {
    font-style: italic;
    color: #dc3545 !important;
}


:-ms-input-placeholder {
    font-style: italic;
    color: #dc3545 !important;
}


a.textlink {
    color: #dc3545;
    font-weight: 500;
}

a.textlink:hover {
    color: #555;
}

.modaldown40{
    margin-top: 40px;
}

.modal-header{
    background-color:lightgray;
}

.modal-footer{
    background-color:lightgray;
}


/*--Navbar--*/

.bg-light {
    background-color: #f1f1f1 !important;
}


.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.5rem;
    line-height: 1;
    background-color: transparent;
    border: 0px !important;
    border-radius: 0.25rem;
}

.nav-item {
    margin-left: 10px;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: #dc4535;
    font-weight: 800;

}


.navbar-toggler:hover,
.navbar-toggler:focus {
    text-decoration: none;

}

#menuToggle {
    display: block;
    position: relative;
    top: 0px;
    left: 0px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;

    padding: 4px 0px 5px 70px;
    margin: -4px 0px -5px -70px;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #dc3545;
    border-radius: 3px;

    z-index: 1;
}

.cnnav-btn {
    margin-left: 15px;
    background-color: #dc3545;
    border: none;
    color: #ffffff;
}


.cnnav-btn:hover {
    color: #ffffff;
    background-color: #555;
    outline: none;
}



a.nav-link {
    font-weight: 500;
    font-size: 17px;

}

.menutype {
    margin-right: 0px;
    font-size: 20px;
    font-weight: 500;
    color: #dc3545;
    position: absolute;
    right: 70px;
    top: 17px;
    display: none;

}

.upload {
    margin-left: 3px;
    min-width: 112px !important;
    background-color: #dc3545;
    border: none;
    color: #ffffff;
    font-weight: 500;

}

.navbar-brand {
    margin-right: 0px;
}

/*--.nav-link {
    padding-left: 0px !important;

}-*/
.aboutusboldred {
    font-weight: 700;

}

/*----Footer------------------------------------------------*/


.cnfooterbar {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
    background-color: #444;
    padding-top: 15px;

}




.cnfooter {

    font-size: 16px;
    color: #ffffff;
    text-align: center;

}


.footerred {
    color: #dc3545;
    font-weight: 500;
}


.footeryel {
    color: #ffff00;
    font-weight: 500;
    font-size: 18px;
}

.footerlogos {
    margin-left: 20px;
}





/*-----Carousel Edits------*/



.carousel-indicators {
    margin-bottom: 0px;
    z-index: 2;

}

.carousel-indicators li,
.carousel-indicators li.active {
    width: 12px;
    height: 12px;
    margin: 0px 4px;
    border-radius: 50%;
    background-color: #777;
    opacity: 1;

}

.carousel-indicators li.active {
    background-color: #dc3545;
}


.carousel-control-prev {
    justify-content: flex-start;
    margin-left: 20px;
}

.carousel-control-next {
    justify-content: flex-end;
    margin-right: 20px;
}

.cn-carousel {

    z-index: 1;

}

.cn-carouselheadbkgd {
    background-color: none;
}


.cn-carousel-small {
    display: none;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 0.25;
}



/* award banner section*/

.awardbanner {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    padding: 20px 50px;
    text-align: center;
    color: #333;
    max-width: 1280px
}

.awardbanner h3 {
    font-family: arial, sans-serif;
    font-weight: 400;
    padding-top: 10px
}

.cn-ab-btn {
    margin-left: 25px;
    margin-top: -10px;
    padding: 6px;
    font-size: 1.1em;
    width: 175px;
}


abr {
    color: #dc3545;
    font-family: arial, sans-serif;
    font-weight: 900;

}

abb {
    color: #333;
    font-family: arial, sans-serif;
    font-weight: 900;

}


.btnsmaller {
    font-size: 20px;
    font-weight: 500;

}





/* Quote Carousel */

#quotecarousel .carousel-item {
    transition: transform 2s ease-in-out;
    min-height: 150px;
}




blockquote {
    font-family: Georgia, serif;
    position: relative;
    margin: 1em;
    padding: 0.5em 4em 0.5em 4em;
    font-size: 18px;
    font-style: italic;
    line-height: 1.4em;
    text-align: center;
    color: #222;
}

/* Thanks: http://callmenick.com/post/styling-blockquotes-with-css-pseudo-classes */
blockquote:before {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 8em;
    line-height: 1;
    top: 0;
    left: 0;
    content: "\201C";
    font-style: normal;
    font-weight: bold;
    color: #d9d9d9;
}

blockquote:after {
    font-family: Georgia, serif;
    position: absolute;
    /* display: block; don't use this, it raised the quote too high from the bottom - defeated line-height? */
    float: right;
    font-size: 8em;
    line-height: 1;
    right: 0;
    bottom: -0.47em;
    content: "\201D";
    font-style: normal;
    font-weight: bold;
    color: #d9d9d9;
}

/*----Samples-----*/
a {
    color: #fff;
    text-decoration: none;
    background-color: transparent
}

a:hover {
    color: #fff;
    text-decoration: underline
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #dc3545
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border: 0px border-radius: 0px;
    outline: 0.0px
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0rem
}



/*-----Contact-----*/



#map {
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
}


.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;

    position: relative;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 15px;
    max-width: 600px;



}

.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

}

.contactbtn {
    margin-left: 0px;
    outline: none;
    border: 0px solid transparent;
}

.contactbtn:hover {
    color: #ffffff;
    background-color: #555;
    outline: none;


}

a.contactlink:hover {
    color: #555;
}

.message {
    margin-bottom: 20px;
}




/*----contact extra-----*/


#section1 {
    background-color: ;
    min-height: 300px;
    padding: 20px 40px;

}

.section2 {
    background-color: ;
    height: 300px;

}



#div2 {
    background-color: ;
    min-height: 300px;
}

#div3 {
    background-color: ;
    min-height: 400px;
    padding: 0px 0px 0px 20px;

}

#div2 iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}






/*-----Quote Page Items-----*/



.quotebuttonwidth {
    width: 137px;
}












/*-----Green Page Items-----*/




.greenjumbo {
    background-image: url("../images/GreenHeroBKGD.png");
    background-position: left bottom;
    background-color: #fff;
    margin-bottom: 0;


}

.green {
    margin-top: 100px;
    margin-bottom: -33px;
    background-color: rgba(0, 100, 0, 0.65);
    padding: 10px 15px 5px 15px;

    color: #fff;

}

.greenhead {
    font-size: 40px;
    font-weight: 900;

}

.greenmain {
    margin-top: 5px;
    padding-bottom: 60px;
}



/*-----Samples Page-----*/




.gallery-title {
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    color: #555;
    text-align: center;
    font-weight: 900;
    margin-bottom: 20px;
}

.cn-samp-filters {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}


.filter-button {}



.cnsamp-btn {
    margin: 0px 10px 10px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;

}


.cnsamp-btn:hover {
    color: #ffffff;
    background-color: #555;
    outline: none;
}


.portfolio {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-bottom: 60px;
}

.gallery_product {
    margin: 10px;
    padding: 0px;
    flex-basis: 20%;

}




.overlay {
    position: relative;


}

.overlay:after {
    position: absolute;
    content: "+";
    font-size: 80px;
    text-align: center;
    color: rgba(255, 255, 255, 0);
    padding-top: 40px;
    font-family: arial;
    top: 0;
    left: 0;
    width: 320px;
    height: 213px;
    background-color: rgba(255, 0, 0, 0);

}

.overlay:hover:after {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 0, 0, 0.8);
    pointer-events: none;
}

.portimg {
    z-index: 99999999;
}



/*-----ImageGallery-----*/


/*.galleryindicators {
    margin-bottom: -30px;
    margin-right: 0px;
    margin-left: 0px;
    z-index: 0;

}
*/


.photo-gallery {
    color: #313437;
    background-color: #fff;
}

.photo-gallery p {
    color: #7d8285;
}

.photo-gallery h2 {
    font-weight: bold;
    margin-bottom: 20px;
    padding-top: 20px;
    color: inherit;
}

@media (max-width:767px) {
    .photo-gallery h2 {
        margin-bottom: 15px;
        padding-top: 15px;
        font-size: 24px;
    }
}

.photo-gallery .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 20px;
}

.photo-gallery .intro p {
    margin-bottom: 0;
}

.photo-gallery .photos {
    padding-bottom: 20px;
}

.photo-gallery .item {
    padding-bottom: 30px;
}


.video-fluid {
    width: 100%;
    height: auto;
}





/*-----Awards Page-----*/


.awardinfo {
    margin-top: -60px;
    padding-bottom: 0px;
}


.awardyear {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 700;
    color: #dc3545;
    margin-top: 50px;
    text-decoration: none;
}


.awardlist {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 10px;
}

.awardmast {
    background-image: linear-gradient(#dc3545, white);
    padding: 120px 20px 20px 20px;
}


.awardhead {
    font-family: 'Lato', sans-serif;
    font-size: 80px;
    font-weight: 600;
    padding-bottom: -50px;

}

.awardsubhead {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.awardsub {
    padding: 0px 15px 0px 15px;
}

.awardsubtext {
    background-color: #464646;
    padding-top: 10px;
    padding-bottom: 8px;
    color: #ffffff;
}


.awardhr {
    margin-top: -9px;
    margin-bottom: 6px;
    border-style: solid;
    border-width: 1px;
    color: red;
}



/*-----Solutions-----*/

.solinfobar {
    text-align: justify;
    font-family: 'Rosario', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    background-color: #464646;
    padding: 15px 40px 1px 40px !important;

}

.solinfobar2 {
    text-align: justify;
    font-family: 'Rosario', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    background-color: #b4b4b4;
    padding: 15px 40px 1px 40px !important;

}


.solutionsindicators {
    margin-bottom: -12px;
    margin-right: 0px;
    margin-left: 0px;
    z-index: 15;
    background-color: #464646;

}

.solbkgd {
    background-color: #464646;
}

.ampcolor {
    color: #FF00FF;
    font-weight: 700;
}

.ampbkgdcolor {
    background-color:#FF00FF;
   
}

.cschromecolor {
    color: #cccccc;
    font-weight: 700;
}

.subscolor {
    color: red;
    font-weight: 700;
}


.hybridcolor {
    color: #FBB03b;
    font-weight: 700;
}

.solcarousel {
    position: absolute;
    top: 40%;
    bottom: 60%;
}



.solcarouselprev {
    margin-left: 8px;
}

.solcarouselnext {
    margin-right: 8px;
}




/*-----Testimonials-----*/


.gal {


    -webkit-column-count: 5;
    /* Chrome, Safari, Opera */
    -moz-column-count: 5;
    /* Firefox */
    column-count: 5;


}

.gal img {
    width: 100%;
    padding: 7px 0;
}


.whatclients {
    font-size: 20px;
}




@media (max-width: 1450px) {

    .gal {


        -webkit-column-count: 4;
        /* Chrome, Safari, Opera */
        -moz-column-count: 4;
        /* Firefox */
        column-count: 4;


    }

}


.gal img {
    width: 100%;
    padding: 7px 0;
}

@media (max-width: 1200px) {

    .gal {


        -webkit-column-count: 3;
        /* Chrome, Safari, Opera */
        -moz-column-count: 3;
        /* Firefox */
        column-count: 3;


    }

}

.gal img {
    width: 100%;
    padding: 7px 0;
}

@media (max-width: 900px) {

    .gal {


        -webkit-column-count: 2;
        /* Chrome, Safari, Opera */
        -moz-column-count: 2;
        /* Firefox */
        column-count: 2;


    }

}


}

.gal img {
    width: 100%;
    padding: 7px 0;
}

@media (max-width: 650px) {

    .gal {


        -webkit-column-count: 1;
        /* Chrome, Safari, Opera */
        -moz-column-count: 1;
        /* Firefox */
        column-count: 1;


    }

}

/*-----News-----*/

.card-link {
    color: #555;
    font-weight: 600;
}

.card-link:hover {
    color: #dc4535;
}


.newsmodal{
    max-width: 900px;
}

/*-----Thank you Page-------------------------*/


.lightbackgroundjumbo {
    background-color: #d9d9d9;
}

.tybutton {
    padding: .25rem .5rem;
    font-size: 1.15rem;
    line-height: 1.5;
    border-radius: .2rem;
    margin-left: 0px;
    background-color: #dc3545;
    border: none;
    color: #ffffff;
}






/* Amplify Color Page */

.ampinset{
    
    border: solid;
    border-color: lightgray;
    border-width: 2px;
}


.ampfeatureheader{
    text-align: center;
    font-family: 'Rosario', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #555;
    background-color: none;
    padding: 15px 40px 0px 40px !important;

}

.ampfeatureheadermobile{
    text-align: center;
    font-family: 'Rosario', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #555;
    background-color: none;
    padding: 0px 10px 0px 10px !important;

}


.amppadding{
    padding: 0px 35px 0px 35px;
}

.amppaddingmobile{
    padding: 0px 0px 0px 0px;
}


/*-----Media Queries-----*/

@media screen and (min-width: 1280px) {
    .cn-carouselhead {
        width: 1280px;
        justify-content: center;
        margin: 0 auto;
    }
}





@media screen and (max-width: 1021px) {
    .cn-ab-btn {
        margin-left: 0px;
        margin-top: 10px;
    }



}


@media screen and (max-width:991px) {

    .menutype {
        display: block;

    }


}



@media screen and (max-width: 990px) {
    .solcarousel {
        position: absolute;
        top: 35%;
        bottom: 100%;
    }

    .cnnav-btn {
        margin-left: 10px;


    }

    .carousel-indicators {
        display: none;
    }



}






@media screen and (max-width: 813px) {
    .cn-ab-btn {

        margin-top: 0px;
    }


}



@media screen and (max-width: 768px) {


    #div3 {
        padding: 20px 0px 50px 0px;

    }

    .solcarousel {
        position: absolute;
        top: 25%;
        bottom: 100%;
    }


}



@media screen and (max-width:662px) {

 .actionbuttonspace {
    margin-top: 15px;
}


}@media screen and (max-width:648px) {

    .cnfooter {
        font-size: 14px;
    }


    .footerlogos {
        position: relative;
        bottom: 5px;
    }



}




@media screen and (max-width: 572px) {
    .cn-ab-btn {

        margin-top: 10px;
    }

 .actionbuttonspace {
    margin-top: 15px;
}



}


@media screen and (max-width: 586px) {


    .footerlogos {
        display: none;
    }


}

@media screen and (max-width: 500px) {


    .cn-carousel-large {
        display: none;
    }

    .cn-carousel-small {
        display: inline;
    }



}






@media screen and (max-width: 414px) {

    .awardinfo {
        padding-left: 0px;
    }



    .cnfooter {
        font-size: 13px;
    }

    blockquote {
        font-size: 12px;
    }

    .solinfobar {
        padding: 15px 20px 1px 20px !important;

    }

    .solinfobar2 {
        padding: 15px 20px 1px 20px !important;

    }

    .solcarousel {
        position: absolute;
        top: 85px;
        bottom: 100%;
    }

    .solcarouselprev {
        margin-left: 4px;
    }

    .solcarouselnext {
        margin-right: 4px;
    }

    .cnnav-btn {
        margin-left: 10px;

    }


    .forceblackphone {
        color: #dc3545 !important;
    }

    .whatclients {
        font-size: 18px;
        text-align: center;
    }


}



@media screen and (max-width: 375px) {
    .cnfooter {
        font-size: 12px;
    }

    .cn-form {
        font-size: 12px;
    }

    .solcarousel {
        position: absolute;
        top: 80px;
        bottom: 100%;
    }

    .solcarouselprev {
        margin-left: 2px;
    }

    .solcarouselnext {
        margin-right: 2px;
    }


}





@media screen and (max-width: 320px) {
    .cnfooter {
        font-size: 10px;
    }

    .footeryel {
    color: #ffff00;
    font-weight: 500;
    font-size: 16px;
}
    .greenmain {
        font-size: 12px;
        padding-bottom: 80px;
    }

    .greenhead {
        font-size: 28px;

    }

    .green .lead {
        font-size: 15px
    }

    .solcarousel {
        position: absolute;
        top: 65px;
        bottom: 100%;
    }

    .solcarouselprev {
        margin-left: 2px;
    }

    .solcarouselnext {
        margin-right: 2px;
    }



}
